@font-face {
    font-family: 'cmu_typewriter_textregular';
    src: url('font/cmuntt-webfont.eot');
    src: url('font/cmuntt-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/cmuntt-webfont.woff2') format('woff2'),
         url('font/cmuntt-webfont.woff') format('woff'),
         url('font/cmuntt-webfont.ttf') format('truetype'),
         url('font/cmuntt-webfont.svg#cmu_typewriter_textregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cmu_typewriter_textbold';
    src: url('font/cmuntb-webfont.eot');
    src: url('font/cmuntb-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/cmuntb-webfont.woff2') format('woff2'),
         url('font/cmuntb-webfont.woff') format('woff'),
         url('font/cmuntb-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family:'cmu_typewriter_textregular';
	font-size: 22px;
	background-color: rgba(0, 30, 64, .1);
	color:rgba(255,255,255,1);
}

#map {
  width: screen.width;
  height: 600px;
}

path {
    fill: #ffd800;
    fill-opacity: .6;
}

path:hover {
    fill: brown;
    fill-opacity: .7;
}

/*.poi {
	fill: rgba(210, 80, 89, .5);
	//stroke: rgba(135, 24, 28, .9);
}*/

.div-legend {
	padding: 10px;
	height:500px;
	width: 25%;
	text-align: left;
	position: fixed;
    top: 30px;
    left: 70%;
    background-color: rgba(0, 0,0, .7);
}

.name {
	font-family: 'cmu_typewriter_textbold';
}

.oeuvre {
	font-size: 18px;
}
.image img {
	width: 100%;
}
.descr {
	font-size: 12px;
}